{{define "body"}}
Invoice
----------------
Dear Customer,
Thank you for shopping with FreshCart Shop! We hope you had a wonderful shopping experience with us.

We've received your payment and attached to this email, you will find your invoice.
Thank you once again for choosing FreshCart Shop. We look forward to serving you again soon.
Best regards,
FreshCart Shop Team
Email: contact@freshcartshop.com

----------------
© 2024 FreshCart Shop Team. All rights reserved.
Facebook: https://facebook.com/freshcartshop
Twitter: https://twitter.com/freshcartshop
LinkedIn: https://linkedin.com/company/freshcartshop
{{end}}