<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Forget Password</title>

    <!-- Bootstrap -->
    <link href="/public/admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/public/admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/public/admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="/public/admin/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/public/admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="/public/admin/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="/public/admin/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="/public/admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="/public/admin/vendors/starrr/dist/starrr.css" rel="stylesheet">


    <!-- Custom Theme Style -->
    <link href="/public/admin/build/css/custom.min.css" rel="stylesheet">
    <style>
        .spaced {
            margin: 20px;
            /* Example margin */
            padding: 10px;
            /* Example padding */
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-4 col-sm-2 col-xs-0"></div>
        <div class="col-md-4 col-sm-8 col-xs-12">
            <div class="animate form login_form">
                <div class="row text-center">
                    <div class="col">
                        <h2>Account Recovery</h2>
                    </div>
                </div>
                <div class="row text-center">
                    <div style="display: none;" class="h5 badge bg-success" id="alert_msg">This is a test alert</div>
                </div>
                <div class="separator">
                    <div class="clearfix"></div>
                </div>
                <section style="background-color: rgb(227, 228, 227); padding: 15px; border-radius: 10px;"
                    class="forget_password_content">

                    <form action="#" method="post" name="forget_password_form" id="forget_password_form"
                        data-parsley-validate>
                        <!-- Verification method -->
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label>Account Type * :</label>&nbsp;&nbsp;
                            <label for="userAcc">User:</label>
                            <input type="radio" class="flat" name="accTyoe" id="userAcc" value="U" checked required />
                            &nbsp;&nbsp;
                            <label for="empAcc">Employee:</label>
                            <input type="radio" class="flat" name="accTyoe" id="empAcc" value="E" />
                            &nbsp;&nbsp;
                            <label for="adminBtn">Admin:</label>
                            <input type="radio" class="flat" name="accTyoe" id="adminBtn" value="A" />
                        </div>
                        <!-- Verification method -->
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label>Verify With * :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="emailBtn">Email:</label>
                            <input type="radio" class="flat" name="vmethod" id="emailBtn" value="E" checked required />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="smsBtn">SMS:</label>
                            <input type="radio" class="flat" name="vmethod" id="smsBtn" value="S" />
                        </div>
                        <!-- user name -->
                        <div id="userInput" class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                            <label for="user_name"> Email* :</label>
                            <input type="email" class="form-control has-feedback-left" id="user_name" name="user_name"
                                placeholder="someone@example.com" required autocomplete="">
                            <span style="color: rgba(0, 0, 0, 0.75);"
                                class="form-control-feedback left glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </div>

                        <!-- buttons -->
                        <div class="form-group text-center">
                            <div id="btns" class="col-md-12 col-sm-12 col-xs-12">
                                <br>
                                <a href="/signin" class="btn btn-dark">Back to signin</a>
                                <a id="submitBtn" class="btn btn-success">Submit</a>
                            </div>
                        </div>

                    </form>
                </section>
                <div class="separator">
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col text-right">
                            <div>
                                <h4><i class="fa fa-paw"></i> <a href="/" style="color: black;">FreshCart Shop</a><br>
                                    <h6>©2024 All Rights Reserved || <a href="/terms-privacy">Terms & Privacy</a></h6>
                                </h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let alert_msg = document.getElementById('alert_msg');
        let submitBtn = document.getElementById('submitBtn');
        document.getElementById('emailBtn').addEventListener('click', function (event) {
            document.getElementById('userInput').innerHTML = `
            <label for="user_name"> Email* :</label>
            <input type="email" class="form-control has-feedback-left" id="user_name" name="user_name"
                placeholder="someone@example.com" required autocomplete="">
            <span style="color: rgba(0, 0, 0, 0.75);" class="form-control-feedback left glyphicon glyphicon-envelope"
                aria-hidden="true"></span>`;
        });
        document.getElementById('smsBtn').addEventListener('click', function (event) {
            document.getElementById('userInput').innerHTML = `
            <label for="user_name"> Mobile* :</label>
            <input type="tel" class="form-control has-feedback-left" id="user_name" name="user_name"
                placeholder="01xxxxxxxxx" pattern="01[3-9][0-9]{8}" required autocomplete="">
            <span style="color: rgba(0, 0, 0, 0.75);" class="form-control-feedback left glyphicon glyphicon-earphone"
                aria-hidden="true"></span>`;
        });



        submitBtn.addEventListener('click', function (event) {
            console.log("button clicked")
            let userType = '';
            if (document.getElementById("userAcc").checked) {
                userType = 'customers'
            } else if (document.getElementById("empAcc").checked) {
                userType = 'employees'
            } else {
                userType = 'users'
            }
            let userInput = {
                user_name: document.getElementById("user_name").value,
                user_type: userType,
                otp_method: document.getElementById("smsBtn").checked,
            }

            const requestOptions = {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(userInput),
            }

            fetch('{{.API}}/api/forgot-password', requestOptions)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data.error === true) {
                        showError(data.message)      
                    } else {
                        showSuccess(data.message);
                    }
                });
        });
        function showError(msg) {
            alert_msg.style.display = "flex"

            alert_msg.classList.add('bg-danger')
            alert_msg.classList.remove('bg-success')
            alert_msg.innerText = msg 

        }

        function showSuccess(msg) {
            alert_msg.style.display = "flex"

            alert_msg.classList.add('bg-success')
            alert_msg.classList.remove('bg-danger')
            alert_msg.innerText = msg

            submitBtn.style.display = 'none';
        }
    </script>
</body>

</html>