{{template "base" .}}

{{define "title"}}
  Home
{{end}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Welcome to our site</h2>
    </div>
  </div>
</div>
{{end}}