{{template "base" .}}

{{define "title"}}
    Upload Image
{{end}}

{{define "content"}}
    <h1>Upload Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*">
        <br>
        <input type="submit" value="Upload">
    </form
{{end}}