<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anchor Links to Divs with Animation (HTML/CSS)</title>
  <style>
    /* Style for the anchor links */
    .anchor-link {
      display: block;
      margin-top: 20px;
      /* Adjust as needed */
      text-decoration: none;
      color: blue;
    }

    /* Styles for the divs */
    .animated-div {
      height: 500px;
      background-color: #f0f0f0;
      opacity: 0;
      transition: opacity 1s;
      /* Transition for opacity change */
    }

    /* Styles for the divs when targeted */
    .animated-div:target {
      opacity: 1;
    }
  </style>
</head>

<body>

  <!-- Div 1 with anchor link -->
  <a href="#div1" class="anchor-link">Go to Div 1</a>
  <div id="div1" class="animated-div">
    <!-- Content of div1 -->
    <h2>Div 1</h2>
  </div>

  <!-- Div 2 with anchor link -->
  <a href="#div2" class="anchor-link">Go to Div 2</a>
  <div id="div2" class="animated-div">
    <!-- Content of div2 -->
    <h2>Div 2</h2>
  </div>










  <div class="well profile_view">
    <div class="col-sm-12">
      <h4 class="brief"><i>Digital Strategist</i></h4>
      <div class="left col-xs-7">
        <div class="left col-xs-7">
          <h1 class="text-center">${i.customer.first_name} ${i.customer.last_name}</h1>
          <hr>
          <p><strong>About: </strong> Backend Engineer/Golang. </p>
          <br>
          <div class="left col-xs-5">
            <ul class="list-unstyled">
                <li><i class="fa fa-info-circle"></i> Customer ID:</li>
                <li><i class="fa fa-location-arrow"></i> Address:</li>
                <li><i class="fa fa-envelope"></i> Email:</b></li>
                <li><i class="fa fa-phone"></i> Phone #:</li>
                <li><i class="fa fa-clock-o"></i> Created At:</li>
                <li><i class="fa fa-clock-o"></i> Upadeted At:</li>
            </ul>
          </div>
          <div class="left col-xs-7">
            <ul class="list-unstyled">
                <li><b>${i.customer.id}</b></li>
                <li><b class="text-danger">Update later</b></li>
                <li><b>${i.customer.email}</b></li>
                <li><b class="text-danger">Update later</b></li>
                <li><b>${profileCreatedAt}</b></li>
                <li><b>${profileUpdatedAt}</b></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right col-xs-5 text-center">
        <img src="${imgSrc}" alt="" class="img-circle img-responsive">
      </div>
    </div>
    <div class="col-xs-12 bottom text-center">
      <div class="col-xs-12 col-sm-6 emphasis">
        <p class="ratings">
          <a>4.0</a>
          <a href="#"><span class="fa fa-star"></span></a>
          <a href="#"><span class="fa fa-star"></span></a>
          <a href="#"><span class="fa fa-star"></span></a>
          <a href="#"><span class="fa fa-star"></span></a>
          <a href="#"><span class="fa fa-star-o"></span></a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 emphasis">
        <a href="/admin/customer/profile/send-msg/${i.customer.id}" class="btn btn-info btn-xs">
          <i class="fa fa-user"></i><i class="fa fa-comments-o"></i> Send Message
        </a>
        <a href="/admin/customer/profile/edit/${i.customer.id}" class="btn btn-warning btn-xs">
          <i class="fa fa-user"></i><i class="fa fa-comments-o"></i> Edit
        </a>
        <a href="/admin/customer/profile/delete/${i.customer.id}" class="btn btn-danger btn-xs">
          <i class="fa fa-user"></i><i class="fa fa-comments-o"></i> Delete
        </a>
      </div>
    </div>
  </div>
</body>

</html>