
/* Start navbar style */
* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #b2f8d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  & .container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: max-content;
  }
}

.nav-links {
  list-style: none;
  display: flex;
  & li {
  margin-right: 20px;
    & a {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 0 0;
    padding: 10px 10px;
    text-decoration: none;
    color: #000000;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
    z-index: 1;
    &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
    transform: scaleY(2);
    opacity: 0;
    transition: .5s;
      }
      &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #262626;
        transform: scale(0);
        opacity: 0;
        transition: .5s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
      }
      &:hover:before {
        transform: scaleY(1);
        opacity: 1;
      }
      &:hover:after {
        transform: scaleY(1);
        opacity: 1;
      }
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
  & div {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    transition: all 0.3s ease;
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .navbar .container {
    flex-direction: row;
    align-items: flex-end;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 0;
    width: max-content;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .burger {
    display: block;
  }
}

/* End navbar style */

/* Start homepage clock style */
.clock {
    background: #ececec;
    width: 300px;
    height: 300px;
    margin: 8% auto 0;
    border-radius: 50%;
    border: 14px solid #333;
    position: relative;
  }

  .dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #ccc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    z-index: 10;
    box-shadow: 0 2px 4px -1px black;
  }

  .hour-hand {
    position: absolute;
    z-index: 5;
    width: 4px;
    height: 65px;
    background: #333;
    top: 79px;
    transform-origin: 50% 72px;
    left: 50%;
    margin-left: -2px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  .minute-hand {
    position: absolute;
    z-index: 6;
    width: 4px;
    height: 100px;
    background: #666;
    top: 46px;
    left: 50%;
    margin-left: -2px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 105px;
  }

  .second-hand {
    position: absolute;
    z-index: 7;
    width: 2px;
    height: 120px;
    background: gold;
    top: 26px;
    lefT: 50%;
    margin-left: -1px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: 50% 125px;
  }

  .span {
    display: inline-block;
    position: absolute;
    color: #333;
    font-size: 22px;
    font-family: 'Poiret One';
    font-weight: 700;
    z-index: 4;
  }

  .h12 {
    top: 30px;
    left: 50%;
    margin-left: -9px;
  }
  .h3 {
    top: 140px;
    right: 30px;
  }
  .h6 {
    bottom: 30px;
    left: 50%;
    margin-left: -5px;
  }
  .h9 {
    left: 32px;
    top: 140px;
  }

  .diallines {
    position: absolute;
    z-index: 2;
    width: 2px;
    height: 15px;
    background: #666;
    left: 50%;
    margin-left: -1px;
    transform-origin: 50% 150px;
  }
  .diallines:nth-of-type(5n) {
    position: absolute;
    z-index: 2;
    width: 4px;
    height: 25px;
    background: #666;
    left: 50%;
    margin-left: -1px;
    transform-origin: 50% 150px;
  }

  .info {
    position: absolute;
    width: 120px;
    height: 20px;
    border-radius: 7px;
    background: #ccc;
    text-align: center;
    line-height: 20px;
    color: #000;
    font-size: 11px;
    top: 200px;
    left: 50%;
    margin-left: -60px;
    font-family: "Poiret One";
    font-weight: 700;
    z-index: 3;
    letter-spacing: 3px;
    margin-left: -60px;
    left: 50%;
  }
  .date {
      top: 80px;
    }
  .day {
      top: 200px;
  }

  /* End homepage clock style */

  /* Start Signin page style */
  .wrapper {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background: #ffffff;
      margin: 20px;
      transition-delay: 10ms;
      transition: background-color 0.3s;
      width: 400px;
      height: 480px;
      margin-top: 50px;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .top-icon-center {
      background: #0d6efd !important;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      padding: 15px;
      position: relative;
      transform: translate(164px, -36px);
  }

  .label {
      display: flex;
      justify-content: center;
  }

  .login-form {
      margin-top: 20px;
      display: flex;
      justify-content: center;
  }

  .input {
      height: 50px;
      width: 300px;
      padding: 10px;
      padding-left: 35px;
      padding-right: 40px;
      margin: 10px;
      background: #E9ECEF;
      border: 1px solid #0d6efd;
      border-radius: 5px;
  }

  .input:focus {
      background: #e1ffea;
  }

  .input-icon {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      position: absolute;
      transform: translate(20px, 20px);
  }

  .input-icon-end {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      position: absolute;
      transform: translate(-40px, 20px);
  }

  #submitBtn {
      color: white;
      display: flex;
      padding-left: 0px;
      justify-content: center;
      gap: 20px;
      background-color: #0d6efd;
      transition: background-color 0.3s ease;
      cursor: pointer;
  }

  #submitBtn:hover {
      background-color: rgb(73, 196, 109);
      color: black;
      outline: none;
      border-color: #bee2c6;
      box-shadow: 0 0 5px #cbe5d0;
  }

  .horizontal-line {
      width: 100%;
      text-align: center;
      border-bottom: 1px dotted black;
      /* Adjust the color and style of the line */
      line-height: 0.1em;
      /* Adjust as needed to control the distance between lines */
      margin: 20px 0;
      /* Adjust the margin spacing */
  }

  .horizontal-line span {
      background: #fff;
      /* Background color to cover the line */
      padding: 0 10px;
      /* Adjust as needed to create padding around the text */
  }

  #logo {
      width: 200px;
      height: 80px;
      transform: translate(50%);
  }

  #logo .go {
      position: absolute;
      transform: translate(50px, 10px);
  }

  #logo .fa {
      position: absolute;
      transform: translate(115px, 10px);
  }