{{define "body"}}
Password Reset
----------------
Dear User,

We received a request to reset your account password. To proceed with the reset, please click the button below:

{{.Link}}

This link expires in 60 minutes
If you didn't request this password reset, you can safely ignore this email. Your account is secure.

Thank you,
Your Company Name

----------------
© 2024 Your Company. All rights reserved.
Facebook: https://facebook.com/YourCompany
Twitter: https://twitter.com/YourCompany
LinkedIn: https://linkedin.com/company/YourCompany
{{end}}